.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  margin-top: 50px;
  border-top: 1px solid var(--green-color);
  border-bottom: 1px solid var(--green-color);
}

.container .leftSide {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: var(--purple-color);
}

.leftSide .triangle {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border: 124px solid transparent;
  border-right-color: var(--bg-color);
  border-bottom-color: var(--bg-color);
}

.firstTitle {
  font-size: 1.5rem;
  color: var(--main-text);
  margin-left: 30px;
}
