.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 100px auto;
  border: 1px solid var(--purple-color);
  border-radius: 10px;
}

.container h3 {
  color: var(--turqouise-color);
  margin-top: 10px;
  font-size: 1.5em;
}

.container button {
  padding: 5px 30px;
  background-color: var(--purple-color);
  color: var(--main-text);
  border: none;
  border-radius: 20px;
  font-size: 1.03rem;
}

.container button:hover {
  cursor: pointer;
  background: linear-gradient(
    to right bottom,
    rgba(135, 137, 192, 50%),
    rgba(93, 253, 203, 50%)
  );
}
