.footer {
  margin-top: 100px;
}

.footer div {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right bottom,
    rgba(135, 137, 192, 50%),
    rgba(93, 253, 203, 50%)
  );
}

.name {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
