.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 50px;
  font-size: 1.25em;
  background-color: var(--bg-color);
  color: var(--main-text);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.1rem;
  border: none;
  background-color: transparent;
  color: var(--main-text);
}

.closeButton:hover {
  cursor: pointer;
}
