.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(8, 9, 10, 65);
}

.title {
  color: rgb(135, 137, 192);
  text-transform: uppercase;
  font-size: 36px;
}

.clientWallet {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(124, 198, 254);
  font-size: 15px;
  color: rgb(244, 250, 255);
  background-color: transparent;
}

.clientWallet:hover {
  cursor: pointer;
  background: linear-gradient(
    to right bottom,
    rgba(135, 137, 192, 50%),
    rgba(93, 253, 203, 50%)
  );
}

.links {
  display: flex;
  gap: 50px;
}

.link {
  position: relative;
  display: inline-block;
  padding-bottom: 0.1rem;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--turqouise-color);
  transition: width 0.3s ease-in-out;
}

.link:hover::before {
  width: 100%;
}

/* .link:hover {
  text-decoration: underline;
  text-decoration-color: var(--turqouise-color);
  text-decoration-thickness: 2px;
  text-underline-position: under;
  transition: text-underline-position 0.3s ease-in-out;
} */
